body {margin-right: 10%; margin-left: 10%;}
h1 {float: right; margin-right: 40%; margin-top: 5%;}
fieldset {float: left;}
fieldset a {display: block; color: #000; font-weight: bold; font-size: 20px; text-decoration: none;}
.container {width: 60%; float: right;}
.container table {width: 100%;}
.clear {clear: both;}